*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    margin: 0 auto;
    max-width: 80vw;
}


/****   Tipografia ****/





/****   Parte inicial   *****/

.baner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.titulo{
    padding: 1.5rem 0;
    font-weight: 700;
    font-size: 2.5rem;
}

.menu {
    margin-bottom: 2rem;
}

.menu a{
    text-decoration: none;
    font-style: italic;
    color: grey;
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.menu a:hover{
    background-color: rgb(230, 51, 51);
    color: rgb(255, 255, 255);
}

.hero{
    background-color: #cce8f4;
}

.hero .hero-imagen-fondo{
    background-image: url(../img/pic01.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    height: 30rem;
    position: relative;
    text-align: center;
}


.contenido-banner {
    background-color: rgb(41, 37, 37);
    padding: 1.5rem 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenido-banner>h2 {
    color: white;
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
}

.contenido-banner>p {
    color:rgb(168, 45, 45); 
}

.contenedor-categorias {
    display: flex;
    flex-direction: column;
}

.categorias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.poligono{
    width: 100px;
    height: 100px;
    background-color: rgb(168, 45, 45);
    clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 100%, 0 75%);
    margin: 2rem;
    margin-bottom: 1rem;
    position: relative;
    font-size: 2.5rem;
}

.poligono i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.poligono2 {
    background-color: rgb(41, 37, 37);
 }

.poligono3 {
    background-color: rgb(104, 99, 99);
 }

.categoria-botones {
    text-align: center;
    margin: 2rem;
}

.categoria-botones button {
    background-color: rgb(168, 45, 45);
    padding: 0.5rem 3rem;
    color: white;
    font-weight: 700;
    margin: 0rem 0.3rem;
}

.categoria-botones .learn-more {
    background-color: black;
}

/***********portafolio*************/

.titulo-portafolio {
    text-align: center;
    margin: 2rem;
}

.proyectos {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.proyecto {
    max-width: 25vw;
    background-color: white;
}

.proyecto img {
    width: 100%;
}

.proyecto-boton {
    background-color: black;
    color: white;
    padding: 6px;
    font-weight: 700;
}

.proyecto-info {
    padding: 2rem;
}

/****** seccion blog ********/

.titulo-blog {
    text-align: center;
    margin: 2rem;
}

.publicaciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.publicacion img {
    width: 100%;
}

.publicacion-info span {
    font-style: italic ;
}

.publicacion {
    background-color: white;
}

.publicacion-info button {
    background-color: rgb(168, 45, 45);
    padding: 0.5rem 3rem;
    color: white;
    font-weight: 700;
    margin: 0rem 0.3rem; 
}

.publicacion-info .comments {
    background-color: black;
}


/**********  Footer  ************/

footer {
    background-color: rgb(225, 233, 230);
    color: white;
    margin-top: 2rem;


}

.footer-section-1 {
    background-color: rgb(44, 44, 44);
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.titulo-footer-section{
    margin: 2.5rem 0;
}

.actividad {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.actividad-parrafo {
    font-size: .8rem;
    color: darkgrey;
}

.flecha {
    width: 50px;
    height: 40px;
    background-color: rgb(168, 45, 45);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    position: relative;
    padding: 1.5rem;
    margin-right: 2rem;
}

.fecha {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.fecha p{
    font-size: .8rem;
}

.fecha span{
    font-size: 1.2rem;
    font-weight: 700;
}

/**********  Footer about  ************/

.about>img {
    width: 100%;
    margin: 0 0 2rem 0;
}

.about p {
    margin-bottom: 2rem;
}

.about-boton {
    background-color:rgb(168, 45, 45); 
    padding: .5rem;
    color: white;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
}

/**********  Footer seccion 2 ************/

.footer-section-2 {
    background-color: rgb(44, 44, 44);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.links {
    margin-bottom: ;
    display: grid;
    flex-direction: column;
}

.links-link {
    color: rgb(219, 218, 218);
    padding: 1rem 0;
    border-bottom: 1px solid rgba(87, 87, 87, 0.767);
}


/**********  Footer Contacto-info ************/

 .direccion {
    display: grid;
    grid-template-columns: 1fr 2fr;
 }

 .redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }

.redes-sociales i{
    font-size: 3rem;
}

 .email {
    display: grid;
    grid-template-columns: 1fr 2fr;
 }

 .telefono {
    display: grid;
    grid-template-columns: 1fr 2fr;
 }